# Dotenv config
**/.env
*.Renviron

# Data
**/*.txt
**/*.csv
*.zip

# Documents
**/*.doc
**/*.docx
**/*.png
**/*.pages
**/*.pdf

# Folders
marcin

**/*.Rproj
.Rproj.user
.Rhistory
*.RData
.Ruserdata

*.vscode
__pycache__/
